#adpacks{
width:100%!important;
padding:10px!important;
background:#303538!important;
border:none!important;
color:#fff!important;
}
.adpacks-text{
color:white;
font-family:Verdana,Arial,Helvetica!important;
font-size:12px;
height:50px;
line-height:50px;
display:block;
text-decoration:none;
background:#303538!important;
padding-left:0px;
}
.adpacks-text:hover{
color:white;
}
.adpacks-text:before{
content:'SPONSORED: ';
font-family:Verdana,Arial,Helvetica!important;
font-size:12px!important;

}
.adpacks-poweredby{
display:none!important
}